<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
            This is a default site of your project
        {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
